@import url('../App.css');

.home-section {
    background-image: url('../assets/Leonardo_Phoenix_A_cinematic_mouthwatering_photograph_of_a_fre_0.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 50vw;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.home-section>* {
    position: relative;
}

.home-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.home-text span {
    padding: 0 1vw;
    border-radius: 14px;
}

.home-text span h2 {
    font-size: 8vw;
    font-weight: 800;
    color: var(--cor-texto-branco);
}

.home-text p {
    font-size: 2vw;
}

.home-text h2,
p {
    padding: 0.5vw;
    color: var(--cor-texto-branco);
    text-shadow: 2px 4px 4px #000000a9;
}

/*MEDIA*/
@media (max-width: 768px) {
    .home-section {
        width: 100%;
        height: 80vw;
    }

    .home-text p {
        font-size: 3vw;
        text-align: center;
    }
}

@media (max-width: 430px) {
    .home-section {
        width: 100%;
        height: 100vw;
    }

    .home-section span {
        padding: 0 2vw;
    }

    .home-text {
        top: 30px;
    }

    .home-text span h2 {
        font-size: 12vw;
    }

    .home-text p {
        font-size: 5vw;
    }

    .home-text h2,
    p {
        text-align: center;
    }
}