@import url('../App.css');

/* Container do menu */
.menu-header {
    width: 100%;
    background-color: var(--cor-verde);
    padding: 18px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 3;
}

.menu-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;

    font-size: 2vw;
    color: var(--cor-texto-branco);
    background-color: var(--cor-vermelho);
    border-radius: 35px;
    padding-right: 2vw;
    box-shadow: 1px 2px 4px #00000046;
}

.menu-logo a {
    display: flex;
    align-items: center;
    color: var(--cor-amarelo-claro);
    gap: 1vw;
    text-decoration: none;
}

.menu-logo img {
    width: 5vw;
    border-radius: 50%;
}

.menu-nav {
    display: flex;
}

.menu-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
}

.menu-nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--cor-branco);
    font-size: 1.2rem;
    transition: color 0.3s;
}

.menu-nav a:hover {
    color: var(--cor-amarelo-destaque);
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.material-icons {
    font-size: 2.5rem;
    color: var(--cor-branco);
}

/* MEDIA */
@media (max-width: 768px) {
    .menu-logo {
        font-size: 4vw;
    }
}

@media (max-width: 430px) {
    .menu-logo {
        font-size: 6vw;
    }

    .menu-logo img {
        width: 15vw;
    }

    .menu-nav {
        display: none;
        position: absolute;
        top: 85px;
        left: 0;
        background-color: var(--cor-verde);
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
    }

    .menu-nav.open {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .menu-nav ul {
        flex-direction: column;
        gap: 10px;
    }
}