@import url('../App.css');

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vw;
}

.about-section p {
    color: var(--cor-texto-secundario);
    text-shadow: none;
    font-size: 1.5vw;
}

.about-section h2 {
    font-size: 4vw;
}

@media (max-width: 430px) {
    .about-section {
        height: 100vw;
        gap: 2vw;
    }

    .about-section h2 {
        font-size: 9vw;
    }

    .about-section p {
        font-size: 3.5vw;
    }
}