@import url('../App.css');

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-section p {
    color: var(--cor-texto-secundario);
    text-shadow: none;
}