:root {
  --cor-verde: #008C45;
  --cor-branco: #FFFFFF;
  --cor-vermelho: #CD212A;

  /* Secondary colors */
  --cor-verde-escuro: #006937;
  --cor-vermelho-escuro: #A3151F;
  --cor-amarelo-destaque: #FFCC00;

  /* Text colors */
  --cor-texto-primario: #333333;
  --cor-texto-secundario: #666666;
  --cor-texto-branco: #FFFFFF;

  /* Background */
  --cor-fundo-pagina: var(--cor-branco);
  --cor-fundo-header: var(--cor-verde);
  --cor-fundo-footer: var(--cor-vermelho);

  /* Others */
  --cor-borda: #E0E0E0;
}